html {
    scroll-behavior: smooth;
}

.virsus{
    width: 1200px;
    margin: auto;
}

.header {
    background-color: hsl(115, 22%, 66%);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    top: 0;
    width: 100%;
    z-index: 10;
}

.header a:first-child {
    pointer-events: none;
}

#searchBar {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    width: 130px;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 10;

    background-color: #465844;
    color: #99bd95;
    border: 1px solid;
    border-color: #99bd95;
}

#reset {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    width: 100px;
    right: 10px;
    top: 50px;
    position: absolute;
    display: none;
    z-index: 10;

    background-color: #465844;
    color: #99bd95;
    border: 1px solid;
    border-color: #99bd95;
}

body {
    background-color: #5b8357;
}

#logo {
    display: flex;
    float: left;
}
#name {
    display: flex;
    width: 20%;

    font-size: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #A54200;
}
#name2 {
    color: #D85600;
}
#tree {
    position: absolute;
    display: flex;
    float: left;
    width: 50%;
    left: -480px;
    bottom: 0px;
    z-index: -1;
}
.links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    
}
.links ul li a img:hover{
    background-color: #465844;
    border-radius: 50%;
    transition: 0.5s;
}
.links ul li a img:active{
    background-color: #99bd95;
    border-radius: 50%;
    transition: 0.3s;
}

.links ul li p {
    font-size: 15spx;
    font-weight: bold;
    color: #465844;
    border: 1px solid;
    border-color: #465844;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    padding: 3px;
    
}

.links ul li p a {
    text-decoration: none;
    color: #465844;
}

.links ul li p a:hover {
    color: #5b8357;
    transition: 0.5s;
}

.links ul li p a:active {
    color: #99bd95;
    transition: 0.1589s;
}

#altC {
    position: absolute;
    top: 10%;
    right: 2%;
    display: flex;
    margin: none;
    z-index: -1;

    color: #567e52;
    font-size: 30px;
}

.stuff a img{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    display: inline-block;
    width: 170px;
    height: 200px;
    border-radius: 30%;
    transition: 0.5s;
}
.stuff a img:hover{
    border-radius: 40%;
    transition: 0.5s;

    box-shadow: 0 0 10px #000;
}

.stuff a img:active{
    border-radius: 50%;
    transition: 0.3s;
}

.stuff a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}

.stuff a p {
    font-size: 15px;
    font-weight: bold;
    color: #465844;
    border: 1px solid;
    border-color: #465844;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
    margin: 0px;
    padding: 1px;
}

.stuff a p:hover {
    color: #5b8357;
    transition: 0.5s;
}

.stuff a p:active {
    color: #99bd95;
    transition: 0.1589s;
}


.stuff video {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    display: inline-block;
    width: 170px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10%;
}
.stuff video:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px #000;
    border-radius: 10%;
}
.stuff video:active{
    transition: 0.3s;
    background-color: #465844;
    border-radius: 20%;
}

.langas {
    background-color: #465844;
    align-items: center;
    opacity: 0.9;
    border-radius: 10px;
    width: 800px;
    z-index: 1000;

    display: none;
    position: relative;
    top: 10%;
    right: 0%;
}

::weebkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #99bd95;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #465844;
    border-radius: 10px;
}

::webkit-scrollbar-thumb:hover {
    background-color: #567e52;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #99bd95 #465844;
    transition: 0.3s;
}